fastapi
uvicorn
jinja2
python-multipart
pydantic
openai
python-dotenv
google-genai
psycopg2-binary
SQLAlchemy==2.0.36
alembic==1.13.3
psycopg2-binary==2.9.10
python-dotenv==1.0.1
pypdf
requests
passlib[bcrypt]